body {
    background-color: aquamarine;
}
header {
    height: 35px;
    width: 100%;
    opacity: .9;
    text-align: left;
    margin-bottom: 10px;
}
header h1.logo {
    margin: 0;
    font-size: 5;
    text-transform: uppercase;
    color: darkblue;
}

#navmenu li {
    display: inline;
}
#navmenu li + li {
    margin-left: 35px;
}
#navmenu li a {
    color: #444;
    text-decoration: none;
}

.user_id_show {
    position: static;
    top : 100px;
    text-align: center;
}

#disconnected {
    position: static;
    padding-top: 60px;
}

#tasks {
    position: static;
    padding-top : 60px;
}