<!DOCTYPE  html>
<html  lang="en">
    <head>
        <h1 class="logo"> <a href={{ url_for("epytodo.route_index") }} style="text-decoration: none">Epytodo</a></h1>
        <h2>Register</h2>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    </head>
    <body>
        <form method="POST" action="/register/form">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="username" id="username" placeholder="Username">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" type="password" name="password" id="password" placeholder="Password">
                </div>
            </div>
            <button>REGISTER</button>
        </form>
        <p id="signin">Already have an account ? <a href={{ url_for("epytodo.route_signin_form") }}>SIGN IN</a>
    </body>
</html>