<!DOCTYPE  html>
<html  lang="en">
    <head>
        <h1>Epytodo</h1>
        <h2>Sign in Form</h2>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    </head>
    <body>
        <form method="POST" action="/signin/form">
            <div class="field">
                <div class="control">
                    <input class="input" type="username" name="username" placeholder="Username">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <button>SIGNIN</button>
    </body>
</html>